<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onNewHirer()">
        <ion-icon name="add-circle-outline"></ion-icon>Kiracı
      </ion-button>
    </ion-buttons>
    <ion-title> {{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onNewRent()">
        <ion-icon name="add-circle-outline"></ion-icon>Kira
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <router-outlet></router-outlet>
  <app-hirers-table></app-hirers-table>
</ion-content>
